{% extends "mainapp/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-8 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
              </div>
              <h4>New here?</h4>
              <h3 class="font-weight-light">Are you shoure to delete {{ group }}</h3>

              <form class="pt-3" action="{% url 'delete_group' group.id %}" method="POST" >
                {% csrf_token %}
                <div class="mt-3">
                  <a href="{% url 'groups_table' %}" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >Cancel</a>
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn" type="submit">Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  {% endblock %}